<mat-selection-list #compositionList (selectionChange)="onChange(compositionList.selectedOptions.selected)">
  <mat-list-option
    [title]="formatName(assignment.depute)"
    [selected]="isDeputySelected(assignment.depute.id)"
    [value]="assignment.depute.id"
    color="primary"
    *ngFor="let assignment of assignments"
  >
    <div class="row">
      <sb-avatar [url]="assignment.photoUrl"></sb-avatar>
      <span class="name">{{ formatName(assignment.depute) }}</span>
    </div>
  </mat-list-option>
</mat-selection-list>
