.pill {
  border-radius: 1rem;
  padding: 0 0.5rem;
  border: 0px solid var(--mat-card-subtitle-text-color);
  color: var(--mat-card-subtitle-text-color);
  font-size: 0.8rem;
  font-weight: normal;
}
