<sb-chip-input
  (onChange)="onKeywordChange($event)"
  [placeholder]="'search.input.keywords-placeholder' | translate"
  [freeInput]="true"
  [label]="'search.input.keywords' | translate"
></sb-chip-input>
<sb-chip-input
  (onChange)="onDeputyChange($event)"
  [autocompleteSource]="getDeputiesAutocompleteSource"
  [label]="'search.input.deputies' | translate"
></sb-chip-input>
<sb-chip-input
  (onChange)="onPartyChange($event)"
  [autocompleteSource]="getPartiesAutocompleteSource"
  [label]="'search.input.parties' | translate"
></sb-chip-input>
<sb-chip-input
  (onChange)="onDistrictChange($event)"
  [autocompleteSource]="getDistrictsAutocompleteSource"
  [label]="'search.input.districts' | translate"
></sb-chip-input>
<sb-multi-select
  [label]="'search.input.types' | translate"
  [source$]="subjectTypes$"
  (onChange)="onSubjectTypeChange($event)"
></sb-multi-select>
<div *ngIf="!currentSearchCriteria.isEmpty()" class="reset-button-container">
  <button (click)="reset()" mat-fab extended color="primary">
    <mat-icon>restart_alt</mat-icon>
    {{ 'search.reset' | translate }}
  </button>
</div>
