<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="drawer.toggle()" *ngIf="(isSidenav$ | async) && (isHandset$ | async)">
    <mat-icon>menu</mat-icon>
  </button>
  <button type="button" class="hidden" *ngIf="!(isSidenav$ | async) && (isHandset$ | async)" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <a
    class="home-link"
    [ngClass]="{ 'home-link-small': (isHandset$ | async) }"
    mat-fab
    extended
    color="primary"
    routerLink="."
  >
    <span class="banner">
      <img class="logo" src="assets/icons/qc.svg" />
      <span class="app-title">{{ 'app.title' | translate }}</span>
    </span>
  </a>
  <div [ngClass]="{ 'github-icon-large': !(isHandset$ | async) }">
    <a mat-icon-button href="https://github.com/twanou/salon-bleu" aria-label="Github">
      <img src="assets/icons/github.svg" />
    </a>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container filler">
  <mat-sidenav
    #drawer
    class="sidenav filler"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="isSidenavReady && (isSidenav$ | async) && !(isHandset$ | async)"
  >
    <sb-sidenav-tab-group (isLoaded)="isSidenavReady = $event"></sb-sidenav-tab-group>
  </mat-sidenav>
  <mat-sidenav-content id="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
