<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="home-link" mat-fab extended color="primary" routerLink=".">
    <span class="banner">
      <img class="logo" src="assets/qc.svg" />
      <span class="app-title">Salon bleu</span>
    </span>
  </a>
  <div class="right-content">
    <a mat-icon-button href="https://github.com/twanou/salon-bleu" aria-label="Github">
      <img src="assets/github-circle-white-transparent.svg" />
    </a>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container filler">
  <mat-sidenav #drawer class="sidenav filler" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <sb-deputy-list></sb-deputy-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
