.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 325px;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 10;
}

.filler {
  padding-top: var(--mat-toolbar-standard-height);
  @media (max-width: 599px) {
    padding-top: var(--mat-toolbar-mobile-height);
  }
}

.logo {
  width: 28px;
  margin-right: 1rem;
}

.github-icon-large {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.app-title {
  font-size: 1.5rem;
}

.banner {
  display: flex;
  align-items: center;
}

.home-link {
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  padding: 0rem !important;
}

.home-link-small {
  flex: 1 1 auto;
  text-align: center;
}

.hidden {
  visibility: hidden;
}
