<mat-toolbar color="primary">
  <button type="button" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Salon bleu</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container filler">
  <mat-sidenav
    #drawer
    class="sidenav filler"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <sb-deputy-list></sb-deputy-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
