.panel-title {
  white-space: nowrap;
  @media (max-width: 599px) {
    font-size: 0.8rem;
  }
}

.name-visible {
  @media (max-width: 599px) {
    display: none;
  }
}

.content {
  margin-top: 1rem;
}

.title {
  font-size: 1rem;
}

.fonctions {
  font-style: italic;
  font-size: 0.7rem;
  color: darkgray;
}

.action {
  display: flex;
  justify-content: flex-end;
}
