<mat-card [ngClass]="{ 'new-card': isNew(subject.date) }">
  <mat-card-header>
    <mat-card-subtitle class="subtitle">
      {{ subject.date | sbdate }}
      <span class="tag">{{ 'feed.tag.' + subject.details.type | translate }}</span>
    </mat-card-subtitle>
    <mat-card-title>{{ subject.details.titre }} </mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <mat-accordion multi>
      @for (intervention of subject.details.interventions; track intervention; let cardIndex = $index) {
        <mat-expansion-panel
          [expanded]="cardIndex === 0"
          (opened)="onOpen(cardIndex)"
          >
          <mat-expansion-panel-header>
            <mat-panel-title class="panel-title">
              @if (intervention.affectation) {
                <sb-avatar [url]="intervention.affectation.photoUrl"></sb-avatar>
                {{ intervention.affectation.depute.titre }}
                <span class="name-visible">&nbsp;{{ intervention.affectation.depute.prenom }}&nbsp;</span>
                {{ intervention.affectation.depute.nom }}
                ({{ intervention.affectation.parti.sigle }})
              } @else {
                {{ intervention.note }}
              }
            </mat-panel-title>
          </mat-expansion-panel-header>
          @if (intervention.affectation) {
            @if (isFunctionVisible(cardIndex, intervention.affectation.depute.id)) {
              <p>
                @for (
                  function of intervention.affectation.fonctions
                  | slice: 0 : getFunctionsDisplayCount(intervention.affectation);
                  track function;
                  let last = $last
                  ) {
                  <i class="fonctions">{{ function }}{{ !last ? ', ' : '' }}</i>
                }
                @if (isMoreVisible(intervention.affectation)) {
                  <i class="fonctions">... </i>
                }
                @if (isMoreVisible(intervention.affectation)) {
                  <span
                    role="button"
                    (click)="showMore(intervention.affectation.depute.id)"
                    class="show-more-button"
                    >{{ 'feed.show-more' | translate }}
                  </span>
                }
              </p>
            }
          }
          @for (paragraph of intervention.paragraphes; track paragraph) {
            <p>{{ paragraph }}</p>
          }
        </mat-expansion-panel>
      }
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions class="action">
    @if (!bookmarkService.isBookmarked(subject.id)) {
      <button
        (click)="addToBookmarks(subject.id)"
        [matTooltip]="'feed.add-bookmark' | translate"
        mat-icon-button
        >
        <mat-icon>bookmark_add</mat-icon>
      </button>
    }
    @if (bookmarkService.isBookmarked(subject.id)) {
      <button
        (click)="removeFromBookmarks(subject.id)"
        [matTooltip]="'feed.remove-bookmark' | translate"
        mat-icon-button
        >
        <mat-icon>bookmark_added</mat-icon>
      </button>
    }
    <button
      (click)="onDirectLinkCopy()"
      [cdkCopyToClipboard]="getDirectLink(subject.id)"
      [matTooltip]="'feed.copy-link' | translate"
      mat-icon-button
      >
      <mat-icon>link</mat-icon>
    </button>
    <button (click)="openAssnatLink(subject.url)" [matTooltip]="'feed.ref-assnat' | translate" mat-icon-button>
      <mat-icon>open_in_new</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
