@media (max-width: 599px) {
  .panel-title {
    font-size: 0.8rem;
  }
  .name-visible {
    display: none;
  }
}

.content {
  margin-top: 1rem;
}

.title {
  font-size: 1rem;
}

.fonctions {
  font-style: italic;
  font-size: 0.7rem;
  color: darkgray;
}

.show-more-button {
  font-size: 0.7rem;
}

.show-more-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.action {
  display: flex;
  justify-content: flex-end;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
}

.new-card {
  border: 2px solid #3f51b5;
}

.tag {
  color: var(--mat-card-subtitle-text-color);
  font-size: 0.8rem;
  font-weight: normal;
}
