<mat-list #bookmarks color="primary">
  @for (subject of subjects; track subject; let i = $index) {
    <mat-list-item
      class="list-item"
      [ngClass]="{ selected: subject.id === selectedSubject }"
      (click)="select(subject.id)"
    >
      <div class="row">
        <sb-avatar [url]="subject.details.interventions[0].affectation.photoUrl"></sb-avatar>
        <span class="name">{{ subject.details.titre }}</span>
      </div>
    </mat-list-item>
  }
  <p class="no-bookmark" *ngIf="subjects.length === 0">{{ 'bookmarks.no-bookmark' | translate }}</p>
</mat-list>
