<sb-page-template [sidenav]="true">
  @if (subjects.length > 0) {
    <div class="last-update">
      <div>{{ 'feed.last-update' | translate : { date: appLastUpdate | sbdate } }}</div>
      @if (nextUpdates.length > 0 && currentlyLoading.length === 0) {
        <div>
          {{ 'feed.next-update' | translate : { date: nextUpdates | sbdate } }}
        </div>
      }
      @if (currentlyLoading.length > 0) {
        <div>
          {{ 'feed.currently-loading' | translate : { date: currentlyLoading | sbdate } }}
        </div>
      }
    </div>
  }
  @for (subject of subjects; track subject) {
    <sb-subject-card
      class="feed-item"
      [subject]="subject"
      [userLastUpdate]="userLastUpdate"
      >
    </sb-subject-card>
  }
  <sb-spinner [isLoading]="isLoading">
    <div class="feed-item">
      @if (hasMoreResults) {
        <button (click)="loadMore()" mat-fab extended color="primary">
          <mat-icon>expand_more</mat-icon>
          {{ 'feed.show-more' | translate }}
        </button>
      }
    </div>
  </sb-spinner>
  @if (subjects.length > 0 && !hasMoreResults) {
    <div class="feed-item">{{ 'feed.no-more-results' | translate }}</div>
  }
  @if (subjects.length === 0 && !isLoading && !isInitialized) {
    <div class="feed-item">
      <ng-content></ng-content>
    </div>
  }
  @if (subjects.length === 0 && !isLoading && isInitialized) {
    <mat-card class="feed-item">
      <mat-card-content>{{ 'feed.no-result' | translate }}</mat-card-content>
    </mat-card>
  }
</sb-page-template>
