<sb-page-template [sidenav]="true">
  <sb-spinner [isLoading]="isLoading">
    <sb-subject-card *ngFor="let subject of subjects" class="card" [subject]="subject"></sb-subject-card>
  </sb-spinner>
  <ng-container *ngIf="subjects.length === 0 && !isLoading && selectedDeputiesCount === 0">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ 'app.welcome' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ 'app.description' | translate }}
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="subjects.length === 0 && !isLoading && selectedDeputiesCount >= 1">
    <mat-card class="card">
      <mat-card-content>{{ 'feed.no-result' | translate }}</mat-card-content>
    </mat-card>
  </ng-container>
</sb-page-template>
