<mat-tab-group
  [selectedIndex]="getSelectedIndex()"
  animationDuration="0ms"
  (selectedTabChange)="selectedTabChange($event)"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">format_list_bulleted</mat-icon>
      {{ 'feed.tab-title' | translate }}
    </ng-template>
    <sb-deputy-list (isLoaded)="isLoaded.emit($event)"></sb-deputy-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">search</mat-icon>
      {{ 'search.tab-title' | translate }}
    </ng-template>
    <sb-search-form></sb-search-form>
  </mat-tab>
</mat-tab-group>
