<mat-tab-group
  [selectedIndex]="getSelectedIndex()"
  animationDuration="0ms"
  (selectedTabChange)="selectedTabChange($event)"
>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">format_list_bulleted</mat-icon>
    </ng-template>
    <sb-feed-form (isLoaded)="isLoaded.emit($event)"></sb-feed-form>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">search</mat-icon>
    </ng-template>
    <sb-search-form></sb-search-form>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">bookmarks</mat-icon>
    </ng-template>
    <sb-bookmarks-form></sb-bookmarks-form>
  </mat-tab>
</mat-tab-group>
